<footer class="bg-black">
    <div class="container mx-auto flex justify-around py-8">
        
        <ul class="list-reset">
            <li><a href="#" class="text-white no-underline leading-normal">Listings</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">Info</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">Disclaimer</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">About</a></li>
        </ul>

        <ul class="list-reset">
            <li><a href="#" class="text-white no-underline leading-normal">Listings</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">Info</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">Disclaimer</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">About</a></li>
        </ul>

        <ul class="list-reset">
            <li><a href="#" class="text-white no-underline leading-normal">Listings</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">Info</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">Disclaimer</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">About</a></li>
        </ul>

        <ul class="list-reset">
            <li><a href="#" class="text-white no-underline leading-normal">Listings</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">Info</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">Disclaimer</a></li>
            <li><a href="#" class="text-white no-underline leading-normal">About</a></li>
        </ul>

    </div>
</footer>